@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* NAVIGATION BAR */
.navbar{
    padding-right: 2.2em;
    padding-left: 2.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #f4f4f4;
}

.logo{
    font-size: 1.3em;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.logo:hover{
    text-decoration: none;
    color: #000;
}

.links{
    display: block;
}

.links-mobile{
    display: none;
}

.links a, .links-mobile a{
    font-weight: 100;
    font-size: 1em;
    margin-right: 1em;
    text-decoration: none;
    color: #02234e;
}

.logo-1{
    display: block;
}

.logo-2{
    display: none;
}

/* HOME PAGE SHOWCASE */
.slide-show{
    background: url("/static/xiamen.jpg") no-repeat ;
}

/* HOME PAGE SHOWCASE */
.main-section{
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
    align-items: center;
    text-align: center;
    background: url("/static/xiamen.jpg") no-repeat;
    background-position: cover;
    background-size: 100% 100%;
    z-index: -1;

}

.main-section-2{
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
    align-items: center;
    text-align: center;
    background: url("/static/study.jpg") no-repeat;
    background-position: cover;
    background-size: 100% 100%;
    z-index: -1;

}

.main-section-3{
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
    align-items: center;
    text-align: center;
    background: url("/static/apply.jpg") no-repeat;
    background-position: cover;
    background-size: 100% 100%;
    z-index: -1;

}

.main-card{
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.95);
    align-items: center;
    padding: 4em;
    justify-content: center;
}

.main-title{
    color: #000;
    text-decoration: none;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 35px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 100px;
  border: none;
  color: #007bff;
  outline: none;
  padding: 0.3em;
  background-color: Transparent;
}

.main-card h3{
    color: #3894e6;
    margin-bottom: 1em;
    font-size: 1.3em;
    font-family: serif;
    text-decoration: none;
}

.main-card a{
    font-size: 1em;
    color: #3894e6;
}

.main-card h1{
    font-weight: 400;
    font-size: 2em;
    font-family: serif;
}

.main-title:hover{
    color: #000;
    text-decoration: none;
}

.main-card h4{
    font-weight: 300;
    color: grey;
}

/* CARDS SECTION */
.container{
    padding-top: 2.5em;
}

.my-card{
    border: 1px solid #f4f4f4;
    box-shadow: 4px 2px 7px 2px #f4f4f4;
}

.my-card-image img{
    max-height: 200px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.my-card-heading{
    padding: 1em;
}

.my-card-body{
    padding: 1em;
}

/* FIND ME SIDEBAR */
.find-me{
    border: 1px solid #f4f4f4;
    padding: 1em;
    box-shadow: 4px 2px 7px 2px #f4f4f4;
}

.find-me a{
    font-size: 1.3em;
    letter-spacing: 0.5em;
}

.suggested-articles{
    border: 1px solid #f4f4f4;
    padding: 1em;
    box-shadow: 4px 2px 7px 2px #f4f4f4;
}

.footer{
    box-shadow: 4px 2px 7px 2px #f4f4f4;
}

.post-image{
    width: 100%;
    height: auto;
}

.errorlist li{
    list-style: none;
    color: red;
}

.comment-section{
    box-shadow: 4px 2px 7px 2px #f4f4f4;
}

.comment-form{
    display: flex;
}

.comment-input{
    flex: 3;
}

.comment-button{
    margin-left: 0.5em;
}

.comments p{
    padding: 0;
    margin: 0;
}

.article-suggested{
    width: 100%;
    height: auto;
}

.suggested-cards{
        border: 1px solid #f4f4f4;
}

.register-form-my ul{
    display: none;
}

.login-form-my li{
    list-style: none;
}

@media only screen and (max-width: 1000px) {
    .anN{
        word-break: break-all;
    }

}

/* TABLET VIEW */
@media only screen and (max-width: 800px) {
    .logo-1{
        display:none;
    }

    .logo-2{
        display: block;
        width: 50%;

    }

    .links{
        display: none;
    }

    .links-mobile{
        display: block;
        font-size: 1.1em;
        box-shadow: 4px 2px 7px 2px #f4f4f4;
        border-radius: 10px;
        padding: 0.5em;
    }

    .links-mobile a{
        color: navy;
    }

    .navbar{
        display: flex;
        flex-direction: space-between;
        justify-content: center;
        border-bottom: 2px solid #f4f4f4;
    }

    .logo-mobile{
        flex: 2;
    }

    .main-section, .main-section-2, .main-section-3{
        display: flex;
        justify-content: center;
        height: 50vh;
        width: 100%;
        align-items: center;
        text-align: center;
        z-index: -1;
        box-shadow: 4px 2px 7px 2px #f4f4f4;
    }

    .main-card{
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.8);
        align-items: center;
        padding: 1em;
        justify-content: center;
    }

    .main-card h1{
        color: #000;
        text-decoration: none;
        font-size: 1.5em;
    }

    .main-card h3{
        color: #3894e6;
        margin-bottom: 1em;
        font-size: 1.3em;
        text-decoration: none;
    }

    .my-card-body{
        display: none;
        }
}

/* PHONE VIEW */
@media only screen and (max-width: 463px) {
    .logo-1{
        display:none;
    }

    .logo-2{
        display: block;
        width: 80%;
    }

    .links{
        display: none;
    }

    .links-mobile{
        display: block;
        font-size: 0.7em;
        box-shadow: 4px 2px 7px 2px #f4f4f4;
        border-radius: 10px;
        padding: 0.5em;
    }

    .links-mobile a{
        color: navy;
    }

    .navbar{
        display: flex;
        flex-direction: space-between;
        justify-content: center;
        border-bottom: 2px solid #f4f4f4;
    }

    .logo-mobile{
        flex: 2;
    }

    .main-section, .main-section-2, .main-section-3{
        display: flex;
        justify-content: center;
        height: 30vh;
        width: 100%;
        align-items: center;
        text-align: center;
        z-index: -1;
        box-shadow: 4px 2px 7px 2px #f4f4f4;
    }

    .main-card{
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.8);
        align-items: center;
        padding: 0.9em;
        justify-content: center;
    }

    .main-card h1{
        color: #000;
        text-decoration: none;
        font-size: 1.3em;
    }

    .main-card h3{
        color: #3894e6;
        margin-bottom: 1em;
        font-size: 0.8em;
        text-decoration: none;
    }

    .my-card-body{
        display: none;
    }
}