{% extends 'blog/base.html'%}
{% load static %}

{% block header %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{% url 'blog-home' %}">
<meta name="twitter:title" content="Xiamen University Malaysia Student Council">
<meta name="twitter:description" content="Xiamen University Malaysia Student Council page for all things related to
XMUM's student council.">
<meta name="twitter:image" content="">

<meta property="og:url" content="{% url 'blog-home' %}" />
<meta property="og:type" content="Xiamen University Malaysia Student Council" />
<meta property="og:title" content="Xiamen University Malaysia Student Council" />
<meta property="og:description" content="Xiamen University Malaysia Student Council page for all things related to
XMUM's student council." />
<meta property="og:image" content="" />
{% endblock header %}

{% block content %}

<!-- MAIN BODY -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!-- SLIDE 1 -->
          <div class="swiper-slide">
             <div class="text-center main-section">
                 <div class="main-card">
                     <h1 class="main-title">Xiamen University Malaysia</h1>
                     <h3>Student Council Home Page</h3>
                 </div>
             </div>
          </div>

            <!-- SLIDE 2 -->
            <div class="swiper-slide">
                <div class="text-center main-section-3">
                     <div class="main-card">
                         <h1 class="main-title">We're Currently Hiring!</h1>
                         <h3>Have What It Takes? <a href="{% url 'blog-contact' %}">Apply Now!</a></h3>
                     </div>
                 </div>
          </div>

            <!-- SLIDE 3 -->

            <div class="swiper-slide">
                <div class="text-center main-section-2">
                     <div class="main-card">
                         <h1 class="main-title">Looking For Study Tips?</h1>
                         <h3>You've Come to the Right Place!</h3>
                     </div>
                 </div>
          </div>

        </div>
        <!-- Add Arrows -->

         <div class="swiper-pagination"></div>
    </div>

<!-- CARD SECTION -->
<div class="container">
    <!-- CARDS -->
    <div class="row">
        <div class="col-md-9">  <!-- Column for cards -->
            <div class="row">  <!-- Each row has 2 cards -->
                {% for post in posts %}
                <div class="col-md-6 mt-4">
                    <div class="my-card h-100">  <!-- Card -->
                        <div class="my-card-image">
                            <a href="{% url 'blog-detail' post.slug %}"><img src="{{ post.image.url }}"></a>
                        </div>
                        <div class="my-card-heading">
                            <h4><a class="main-title" href="{% url 'blog-detail' post.slug %}">{{ post.title }}</a></h4>
                            <small>{{ post.date_posted|date:'d, F Y' }}
                                <span class="text-muted float-right mt-1">{{post.views}} Views</span>
                            </small>
                            <br>
                            <small><a class="topic" href="{% url 'blog-topics' post.topic %}">{{ post.topic }}</a></small>
                            <small class="text-muted float-right mt-1">{{post.comments.count}} <i class="fas fa-comment"></i></small>
                        </div>
                        <div class="my-card-body">
                            {{ post.content|safe|truncatewords:30 }}
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>

        <div class="col-md-3 mt-4">  <!-- Column for sidebar -->
            <div class="find-me text-center ">
                <h4>Socialize</h4>
                <a target="_blank" href="https://www.instagram.com/ahmadlearns/"><i class="fab fa-instagram"></i></a>
                <a target="_blank" href="https://www.youtube.com/watch?v=V8FXCt04cQs"><i class="fab fa-youtube"></i></a>
                <a href="#!"><i class="fab fa-github"></i></a>
                <a href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>

            <div class="suggested-articles text-center mt-4">
                <h4 class="anN">Announcements</h4>
                {%for announcement in announcements%}
                  <li class="list-group-item border" style="border: 1px solid #f4f4f4;">{{announcement.title}}</li>
                {%endfor%}
            </div>

            <div class="find-me mt-4 text-center pb-4">
                <h4 id="newsletter">Subscribe To Our Newsletter</h4>
                <p>Receive automatic updates on our posts today! This service is free of
                charge.
                </p>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button id="email-submit" class="btn btn-outline-primary btn-sm btn-block mt-2" type="submit">Subscribe</button>
                </form>
            </div>

            <div class="add-space">

            </div>
        </div>
    </div>

    <!-- SIDE BAR -->
</div>

    <script src="{% static 'blog/swiper.min.js' %}"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            loop: true,
            autoplay: {
            delay: 2500,
            disableOnInteraction: true,
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          pagination: {
            el: '.swiper-pagination',
          },
        });
    </script>
{% endblock content %}


