{% extends 'blog/base.html'%}
{% block header %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{% url 'blog-detail' post.slug%}">
<meta name="twitter:title" content="{{post.title}}">
<meta name="twitter:description" content="{{post.description|truncatechars:25}}">
<meta name="twitter:image" content="{{ post.image.url }}">

<meta property="og:url" content="{% url 'blog-detail' post.slug%}" />
<meta property="og:type" content="post.content" />
<meta property="og:title" content="{{post.title}}" />
<meta property="og:description" content="{{post.description|truncatechars:25}}" />
<meta property="og:image" content="{{ post.image.url }}" />
{% endblock header %}

{% block content %}
<!-- CARD SECTION -->
<div class="container">
    <!-- CARDS -->
    <div class="row">
        <div class="col-md-9">  <!-- Column for cards -->
            <div class="my-card p-3 mt-2">
                <img class="post-image mb-2" src="{{ post.image.url }}" alt="">
                <h1>{{ post.title }}</h1>
                <small>{{ post.date_posted|date:'d, F Y' }}</small>
                <a target="_blank" style="border-radius:25px;" class="ml-1 mt-3 text-success btn btn-outline-success btn-sm" href="https://api.whatsapp.com/send?phone=whatsappphonenumber&text=http://xmumsc.herokuapp.com{% url 'blog-detail' post.slug %}"><i class="fab fa-whatsapp"></i></a>
                <a target="_blank" style="border-radius:25px;" class="ml-1 mt-3 text-primary btn btn-outline-primary btn-sm" href="https://www.facebook.com/sharer/sharer.php?u=http://xmumsc.herokuapp.com{% url 'blog-detail' post.slug %}"><i class="fab fa-facebook"></i></a>
                <a target="_blank" style="border-radius:25px;" class="ml-1 mt-3 text-info btn btn-outline-info btn-sm" href="http://twitter.com/share?text=&url=http://xmumsc.herokuapp.com{% url 'blog-detail' post.slug %}&hashtags="><i class="fab fa-twitter"></i></a>
                <p class="mt-2">{{ post.content|safe }}</p>
                <small class="text-muted">Tag: <a class="topic" href="{% url 'blog-topics' post.topic %}">{{post.topic}}</a></small>
            </div>

            <div class="comment-section mt-3 p-3">
                <h3>Comments...</h3>
                {% if user.is_authenticated %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="comment-form">
                        <div class="comment-input">
                            {% csrf_token %}
                            {{form}}
                        </div>
                        <div class="comment-button">
                            <button name="comment" type="submit" class="btn btn-outline-primary">Submit</button>
                        </div>
                    </div>
                </form>
                {% else %}
                    <p>Please <a href="{% url 'login' %}">login</a> to leave a comment.</p>
                {% endif %}

                {% for comment in comments %}
                <div class="comments mt-3 border border-light p-2">
                    <p>
                        <strong>{{ comment.author }}</strong>
                        <small>{{ comment.created|date:'d F Y' }} -
                            {{ comment.created|date:'G:i' }} {{comment.created|date:'A'}}
                        </small>
                    </p>
                    <p>{{ comment.text|linebreaks }}</p>
                </div>
                {% endfor %}

            </div>
        </div>

        <div class="col-md-3 mt-2">  <!-- Column for sidebar -->
            <div class="find-me text-center">
                <h4>Socialize</h4>
                <a target="_blank" href="https://www.instagram.com/ahmadlearns/"><i class="fab fa-instagram"></i></a>
                <a target="_blank" href="https://www.youtube.com/watch?v=V8FXCt04cQs"><i class="fab fa-youtube"></i></a>
                <a href="#!"><i class="fab fa-github"></i></a>
                <a href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>

            <div class="suggested-articles text-center mt-4">
                <h4>Latest Articles</h4>
                {% for articles in other_articles %}
                <div class="suggested-cards mt-3">
                    <a href="{% url 'blog-detail' articles.slug %}">
                        <img class="article-suggested" src="{{ articles.image.url }}" alt="">
                    </a>
                    <p class="mt-3 p-2"><a href="{% url 'blog-detail' articles.slug %}">{{articles.title}}</a></p>
                </div>
                {% endfor %}
            </div>

            <div class="find-me mt-4 text-center pb-4">
                <h4 id="newsletter">Subscribe To Our Newsletter</h4>
                <p>Receive automatic updates on our posts today! This service is free of
                charge.
                </p>
                <form method="POST">
                    {% csrf_token %}
                    {{e_form.as_p}}
                    <button name="newsletter" id="email-submit" class="btn btn-outline-primary btn-sm btn-block mt-2" type="submit">Subscribe</button>
                </form>
            </div>

            <!-- FOR ADVERTISEMENTS -->
            <div class="add-space">

            </div>
        </div>
    </div>

    <!-- SIDE BAR -->
</div>
{% endblock content %}

