{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<!-- CARD SECTION -->
<div class="container">
    <!-- CARDS -->
    <div class="row">
        <div class="col-md-9">  <!-- Column for cards -->
            <div class="my-card p-3 mt-2">
            <h3>You have been logged out</h3>
            <p>Click <a href="{% url 'login' %}">here</a> to login again.</p>
            </div>
        </div>

        <div class="col-md-3 mt-2">  <!-- Column for sidebar -->
            <div class="find-me text-center">
                <h4>Socialize</h4>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href=""><i class="fab fa-github"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>

            <div class="suggested-articles text-center mt-4">
                <h4>Found a bug?</h4>
                <p>Contact us <a href="{% url 'blog-contact'%}">here</a>. We appreciate
                all types of feedback and would love to hear how we could improve our site!
                </p>
            </div>

            <div class="add-space">
                <!-- FOR ADVERTISEMENTS -->
            </div>
        </div>
    </div>
    <br><br>
</div>
{% endblock content %}